
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}

$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Dark-Gray: hsl(0, 0%, 55%);
$Very-Dark-Gray: hsl(0, 0%, 41%);

.wrapper{
    max-width: 1124px;
    margin: 0 auto;
    padding: 0 30px;
    

    @media(max-width:768px){
        padding: 0 15px;
    }
}

.h1{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase !important;
    font-size: 60px;
    font-weight: 300;
    color: $White;

    @media(max-width:768px){
        font-size: 40px;
    }
}
.h2{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase !important;
    font-size: 40px;
    font-weight: 300;

    @media(max-width:768px){
        font-size: 30px;
    }
}
.h3{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase !important;
    font-size: 30px;
    font-weight: 300;
    color: $White;
}
p{
    font-size: 15px;

    @media(max-width:768px){
        font-size: 18px;
    }
}
a{
    @media(max-width:768px){
        font-size: 18px;
    }
}
.button{
    padding: 10px 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $Black;
    text-decoration: none;
    border: 2px solid $Black;
    font-weight: bold;
    transition: 400ms ease;

    @media(max-width:768px){
        display: none;
    }

    &:hover{
        background-color: $Black;
        color: $White;
    }
}

header{
    background-image: url(../images/desktop/image-hero.jpg);
    background-size: cover;
    background-position:center center;
    min-height: 650px;

    .navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px 0;

        @media(max-width:375px){
            padding: 30px 0;
        }

        nav{
            ul{
                display: flex;
                align-items: center;
                list-style: none;
                gap: 33px;

                li a{
                    text-decoration: none;
                    color: $White;
                    position: relative;
                }

                li a::after{
                    content: "";
                    height: 2px;
                    width: 60%;
                    display: block;
                    background-color: $White;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    opacity: 0;
                    transition: 400ms ease;
                }

                .active{
                    a{
                        &::after{
                            opacity: 1;
                        }
                    }
                }

                li {
                   a{
                       &:hover, &:focus{
                        &::after{
                         opacity: 1;
                        }
                       }
                   }
                }
            }
        }

        nav span{
            display: none;
            cursor: pointer;

            @media(max-width:768px){
                display: block;
            }
        }

        nav .primary-menu{
           
            @media(max-width:768px){
                display: none;
            }
        }

    }

    .hero-text{
        border: 2px solid $White;
        max-width: 650px;
        padding: 37px;
        margin-top: 67px;

        @media(max-width:375px){
            padding: 20px;
        }
    }
    
}

.vr-intro{
    padding: 160px 0;

    @media(max-width:768px){
        padding: 90px 0;
    }


    &--container{
        position: relative;
    }
    &--image{
        img{
            max-width: 100%;
        }
    }
    &--text{
        max-width: 560px;
        background-color: $White;
        padding-top: 70px;
        padding-left: 70px;
        padding-bottom: 20px;
        padding-right: 20px;
        position: absolute;
        bottom: 0;
        right: 0;

        @media(max-width:768px){
            padding: 70px;
            position: relative;
            margin: 0 auto;
            text-align: center;
        }
        @media(max-width:375px){
            padding: 20px;
        }

        h2{
            @media(max-width:768px){
               margin-bottom: 30px;
             }
        }

        p{
            @media(max-width:768px){
               color: $Dark-Gray;
               font-weight: bold;
               font-size: 18px;
            }
        }

    }

}

.creation{
    padding-bottom: 80px;

    &--title-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;

        @media(max-width:768px){
            justify-content: center;
            margin-bottom: 30px;
         }
    }
    &--item{
        min-height: 446px;
        padding: 44px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-size: cover;
        object-fit: cover;

        @media(max-width:500px){
            min-height: 140px;
            padding: 20px;
            padding-right: 10rem;
        }
    }
    &--container{
        display: flex;
        flex-wrap: wrap;
    }
    &--container{
        margin: 0 -15px;
    }
    &--overlay{
        background-color: rgba(255, 255, 255, 0.507);
        min-height: 446px;
        position: absolute;
        width: 100%;
        opacity: 0;
        transition: 400ms ease;

        @media(max-width:500px){
            min-height: 140px;
        }
    }
    &--col{
        flex: 1 1 calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
        padding: 15px;

        @media(max-width:1100px){
            flex: 1 1 calc(100% / 12 * 4);
            max-width: calc(100% / 12 * 4);
        }
        @media(max-width:830px){
            flex: 1 1 calc(100% / 12 * 6);
            max-width: calc(100% / 12 * 6);
        }
        @media(max-width:768px){
            flex: 1 1 calc(100% / 12 * 12);
            max-width: calc(100% / 12 * 12);
        }

        .h3{
            transition: 400ms ease;
        }

        a{
            position: relative;
            width: 100%;
            display: block;
            text-decoration: none;

            &:hover{
                .creation--overlay{
                    opacity: 1 !important;
                }

                .h3{
                    position: relative;
                    z-index: 6 !important;
                    color: black;
                }
            }

        }
    }

    .cta{
        text-align: center;
        margin-top: 1rem;
    }

    .show-for-mobile{
        display: none;
        @media(max-width:375px){
            display: inline-block;
        }
    }
   

}

.footer{
    background-color: $Black;
    padding: 40px 0;
   

    &>*{
        color: $White;
    }

    &--upper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        @media(max-width:735px){
            flex-direction: column;
            text-align: center;
        }

        &_logo{
            img{
                width: 90%;
            }

            @media(max-width:735px){
                margin-bottom: 1rem;
            }
        }

        &_icons{
            @media(max-width:735px){
                margin-bottom: 1rem;
            }

            a{
                margin-left: 15px;

                @media(max-width:735px){
                    margin-right: 15px;
                }
            }
        }
    }
    &--under{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width:735px){
            flex-direction: column;
        }

        &_links{
            ul{
                display: flex;
                list-style: none;

                @media(max-width:735px){
                    flex-direction: column;
                }

                li{
                    margin-right: 30px;

                    @media(max-width:735px){
                        margin-right: 0px;
                        margin: 13px 0;
                    }
                }

                li a{
                    text-decoration: none;
                    color: $White;
                    position: relative;
                }

                li a::after{
                    content: "";
                    height: 2px;
                    width: 60%;
                    display: block;
                    background-color: $White;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    opacity: 0;
                    transition: 400ms ease;
                }

                .active{
                    a{
                        &::after{
                            opacity: 1;
                        }
                    }
                }

                li {
                   a{
                       &:hover, &:focus{
                        &::after{
                         opacity: 1;
                        }
                       }
                   }
                }

            }
        }
    }

    .hide-for-mobile{
        @media(max-width:735px){
            display: none;
        }
    }
    .show-for-mobile{
        display: none;
        @media(max-width:735px){
            display: block;
        }
    }


}